
@{
    ViewBag.Title = "Полный текст задания";
}

<div class="alert alert-warning">
    <h1>Тестовое задание на вакансию ASP.NET разработчика:</h1>
    <h2>&ldquo;Cистема регистрации сообщений пользователей&rdquo;</h2>
    <br />

    <h3>Задача</h3><br />

    <h4>Разработать веб-приложение, которое позволяет:</h4>
    <ol class="in-text">
        <li>Создавать, изменять, удалять личные и доступные всем записи;</li>
        <li>Вести и просматривать журнал действий пользователей</li>
    </ol>

    <h4>Средства разработки:</h4>
    <ol class="in-text">
        <li>IDE: Visual Studio</li>
        <li>СУБД: Microsoft SQL Server или Firebird</li>
        <li>ASP.NET, C#, (желательно, но не обязательно использование ASP.NET MVC)</li>
    </ol>

    <h4>Требование к исходному коду:</h4>
    <ol class="in-text">
        <li>Исходный код должен быть оформлен в едином стиле и содержать необходимые комментарии</li>
        <li>В исходным кодам необходимо приложить SQL-скрипт создания базы данных</li>
        <li>Приложение должно быть разработано с учетом мультиязычности</li>
        <li>Аккуратность исходного кода будет оцениваться наряду с функциональностью приложения</li>
    </ol>

    <h3>Техническое описание приложения</h3><br />

    <h4>Функциональность</h4>
    <ul class="in-text">
        <li>Пользователи имеют возможность создавать и просматривать свои заметки и публичные заметки других пользователей</li>
        <li>Пользователи могут редактировать и удалять свои заметки</li>
        <li>Администраторы системы имеют возможность видеть и редактировать записи всех пользователей.</li>
        <li>Любое действие пользователя (вход, выход, добавление записи, изменение записи, удаление записи, просмотр списка и др.) записывается в лог.</li>
        <li>Для хранения логов используются файлы. Структуру логов необходимо продумать самостоятельно.</li>
        <li>Страница просмотра логов доступна только администраторам.</li>
    </ul>

    <h4>Страницы</h4>
    <ol class="in-text">
        <li>Авторизация</li>
        <li>
            Просмотр списка записей.
            <br />
            <i>(постраничный. На странице списка записей необходимо иметь возможность фильтрации сообщений по ключевому слову и признаку доступности)</i>
        </li>
        <li>Создания/изменения записей;</li>
        <li>Просмотра логов.</li>
    </ol>

    <h3>База данных</h3><br />

    <h4>1. Таблица notes (список записей):</h4>
    <ul class="in-text">
        <li>id - primary key</li>
        <li>user_id - пользователь</li>
        <li>create_time - дата создания</li>
        <li>public - доступно всем/личная</li>
        <li>title - заголовок сообщения</li>
        <li>body - тело сообщения</li>
    </ul>

    <h4>2. Таблица users (список пользователей):</h4>
    <ul class="in-text">
        <li>id - primary key</li>
        <li>login - логин</li>
        <li>password - пароль</li>
        <li>admin - признак админа</li>
    </ul>

    <h3>Дополнительно:</h3>
    <ul class="in-text">
        <li>Администрирование пользователей (создание, изменение, удаление) происходит вручную в таблице базы данных. Поэтому в рамках данного тестового задания не нужно создавать интерфейс для создания, изменения, удаления пользователей.</li>
        <li>Использование Javascript в необходимых местах желательно для демонстрации опыта разработки, но при этом клиентская часть не должна быть полностью реализована на Javascript-фреймворках типа ExtJS.</li>
        <li>Проявление инициативы сверх основного задания приветствуется</li>
        <li>При разработке функционала нужно сделать упор на производительность</li>
    </ul>

    <hr />

    @Html.ActionLink("Перейти на главную страницу", "List", "Note", new { area = "" }, new { @class = "btn btn-default center-block" })    

</div>


